<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>prashna.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFacultyQuizzes</servlet-name>
        <servlet-class>prashna.GetFacultyQuizzes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentQuizzes</servlet-name>
        <servlet-class>prashna.GetStudentQuizzes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeResponse</servlet-name>
        <servlet-class>prashna.TakeResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuiz</servlet-name>
        <servlet-class>prashna.AddQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFacultyQuizzes</servlet-name>
        <url-pattern>/getFacultyQuizzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentQuizzes</servlet-name>
        <url-pattern>/getStudentQuizzes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeResponse</servlet-name>
        <url-pattern>/takeResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuiz</servlet-name>
        <url-pattern>/addQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
