.tab {
    -fx-pref-height: 52;
}

.tab-label {
    -fx-text-fill: #424242;
    -fx-font-family: Roboto Mono;
}

.tab-header-background {
    -fx-background-color: #e0e0e0;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: #9e9e9e
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #2196f3;
}