.list-view {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
}

.list-view .list-cell:hover {
    -fx-background-color: transparent;
}

.list-view .list-cell:selected {
    -fx-background-color: transparent;
}

.list-view .list-cell:pressed {
    -fx-background-color: transparent;
}

.list-view .list-cell .jfx-rippler {
   -jfx-rippler-fill: transparent;
}

.scroll-pane {
  -fx-background-color: transparent;
}

.scroll-bar .increment-button {
  visibility: hidden;
}

.scroll-bar .decrement-button {
  visibility: hidden;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
  visibility: hidden;
}

.scroll-bar:vertical .track {
  visibility: hidden;
}

.hide-thumb .scroll-bar:vertical .thumb {
  -fx-background-color: transparent;
}